<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="wxMpConfigStorage" class="com.lion.wechat.config.DbMpWxConfigStorage"
          init-method="init" scope="singleton">
    </bean>
    <bean id="wxMpService"
          class="me.chanjar.weixin.mp.api.impl.WxMpServiceImpl"
          scope="singleton">
        <property name="WxMpConfigStorage" ref="wxMpConfigStorage"></property>
    </bean>

    <bean id="coreService"
          class="com.lion.wechat.service.impl.CoreServiceImpl"
           scope="singleton">
     </bean>



</beans>